<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:include="header :: header"></div>
<h1>MyBasketList Page</h1>
<hr>
<form action="regOrderForm" method="post">
	<table border="1">
		<tr>
			<th>상품이미지</th><th>상품 이름</th><th>상품 가격</th>
			<th>재고</th><th>구매 수량</th><th>총 가격</th>
		</tr>
		<tr th:Each="basket : ${basketList}" th:id="'row' + ${basket.pno.pno}">
			<td><img src="" alt="상품이미지"></td>
			<td><a th:href="@{/productDetail(pno=${basket.pno.pno})}" th:text="${basket.pno.pname}" name="pname"></a></td>
			<td th:text="${basket.pno.price}" name="price"></td>
			<td th:text="${basket.pno.pstock}" name="pstock"></td>
			<td><input type="number" name="amount" th:value="${basket.amount}"></td>
			<td th:text="${basket.pno.price} * ${basket.amount}"></td>
			<td><input type="submit" value="구매하기"></td>
			<td><input type="button" value="삭제" th:name="${basket.pno.pno}" onclick="deleteBasket(event)"></td>
			<input type="hidden" th:value="${basket.pno}" name="prod" class="prod">
			<input type="hidden" name="pno" th:value="${basket.pno.pno}">
		</tr>
	</table>
</form>
</body>
<script>
	
	let prods = document.querySelectorAll(".prod")
	
	function deleteBasket(event){
		const pno = event.target.name;
		const deleteRow = document.querySelector("#row" + pno);
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){
			alert(this.responseText);
			deleteRow.style.display = "none";
		}
		xhttp.open("POST", "/member/deleteBasket", true);
		xhttp.setRequestHeader("Content-type", "application/json");
		//const obj = new Object();
		//obj["product"] = pno;
		//const data = JSON.parse(pno);
		//const data = pno;
		console.log(pno);
		//console.log(data);
		//console.log(obj);
		xhttp.send(pno);
		
		//console.log(event.target.name);
		//location.href = "deleteBasket?pno=" + event.target.name;
	}
	
	
</script>
</html>