<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$("#hide").click(function(){
			$("#demo_post").hide();
		});
		$("#show").click(function(){
			$("#demo_post").show();
		})
		
		$("#hide2").click(function(){
			$("#demo_get").hide();
		})
		$("#show2").click(function(){
			$("#demo_get").show();
		})
		
		$("#hide3").click(function(){
			$("#demo_put").hide();
		})
		$("#show3").click(function(){
			$("#demo_put").show();
		})
		
		$("#hide4").click(function(){
			$("#demo_delete").hide();
		})
		$("#show4").click(function(){
			$("#demo_delete").show();
		})
	});
</script>
</head>
<body>
<h2>메모 저장하기</h2>
<input type="text" name="title" placeholder="Input title......"><br>
<input type="text" name="content" placeholder="Input content......"><br>
<input type="text" name="writer" placeholder="Input writer......"><br>
<button onclick="postMemo()">Memo 저장하기</button>
<div id="demo_post"></div>
<div class="container"><button id="hide">hide</button><button id="show" >show</button></div>

<hr>
<h2>메모 조회하기</h2>
<input type="text" name="mno" placeholder="Input mno......">
<button onclick="getMemo()">Memo 조회하기</button>
<div id="demo_get"></div>
<div class="container"><button id="hide2">hide</button><button id="show2" >show</button></div>

<hr>
<h2>메모 수정하기</h2>
<input type="text" name="mno2" placeholder="Input mno......"><br>
<input type="text" name="title2" placeholder="Input title......"><br>
<input type="text" name="content2" placeholder="Input content......"><br>
<input type="text" name="writer2" placeholder="Input writer......"><br>
<button onclick="putMemo()">Memo 수정하기</button>
<div id="demo_put"></div>
<div class="container"><button id="hide3">hide</button><button id="show3" >show</button></div>

<hr>
<h2>메모 삭제하기</h2>
<input type="text" name="mno3" placeholder="Input mno......">
<button onclick="deleteMemo()">Memo 삭제하기</button>
<div id="demo_delete"></div>
<div class="container"><button id="hide4">hide</button><button id="show4" >show</button></div>

<script>
		
	
	function postMemo(){
		
		// 입력 양식에 적힌 데이터 가져오기
		const title_ = document.querySelector("input[name='title']");
		const content_ = document.querySelector("input[name='content']");
		const writer_ = document.querySelector("input[name='writer']");
		// 가져온 입력데이터를 객체로 만들기 --> JSON으로 변경하여 서버에 전송하기 위해서.
		const memo = {
				title : title_.value,
				content : content_.value,
				writer : writer_.value
		}
		// 객체를 JSON으로 변경하기
		const sendData = JSON.stringify(memo);
			
		fetch("/memoapp/memo", {
			method: "POST",
			headers: {
				"Content-Type" : "application/json"
			},
			body: sendData
		})
		.then(response => response.text())
		.then(data => document.getElementById("demo_post").innerHTML = data)
		.catch(error => document.getElementById("demo_post").innerHTML = error);
		
/*
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){ // 서버가 등록처리 후 결과 데이터를 보내주면 responseText로 받는다.
			document.getElementById("demo_post").innerHTML = this.responseText;
		}
		xhttp.open("POST", "/memoapp/memo");
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(sendData);
*/	
	}
	function getMemo(){
		// DB에 검색할 때 사용할 텍스트 박스
		const mno_ = document.querySelector("input[name='mno']");
		
		// 수정을 위한 입력양식 식별하기 (조회해온 값을 수정양식란에 넣기)
		const mno2_ = document.querySelector("input[name='mno2']");
		const title_ = document.querySelector("input[name='title2']");
		const content_ = document.querySelector("input[name='content2']");
		const writer_ = document.querySelector("input[name='writer2']");
		
		fetch("/memoapp/memo?mno=" + mno_.value, {
			method: "GET",
		})
		.then(response => response.text())
		.then(data => {
			const obj = JSON.parse(data);
			document.getElementById("demo_get").innerHTML = "mno : " + obj.mno + ", title : " + obj.title + ", content : " + obj.content + ", writer : " + obj.writer;
			mno2_.value = obj.mno;
			title_.value = obj.title;
			content_.value = obj.content;
			writer_.value = obj.writer;
		})
		.catch(error => document.getElementById("demo_get").innerHTML = error);
		
	/*	
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){ // 서버가 등록처리 후 결과 데이터를 보내주면 responseText로 받는다.
			const obj = JSON.parse(this.responseText);
			mno2_.value = obj.mno;
			title_.value = obj.title;
			content_.value = obj.content;
			writer_.value = obj.writer;
			document.getElementById("demo_get").innerHTML = this.responseText;
		}
		xhttp.open("GET", "/memoapp/memo?mno=" + mno_.value);
		// xhttp.setRequestHeader("Content-Type", "application/json");
		xhttp.send();
	*/
	}
	
	function putMemo(){
		const mno_ = document.querySelector("input[name='mno2']");
		const title_ = document.querySelector("input[name='title2']");
		const content_ = document.querySelector("input[name='content2']");
		const writer_ = document.querySelector("input[name='writer2']");
		
		const memoDto = {
			mno : mno_.value,
			title : title_.value,
			content : content_.value,
			writer : writer_.value
		};
		
		const memo = JSON.stringify(memoDto);
		
		fetch("memoapp/memo", {
			method: "PUT",
			headers: {
				"Content-Type" : "application/json"
			},
			body: memo
		})
		.then(response => response.text())
		.then(data => document.querySelector("#demo_put").innerHTML = data)
		.catch(erroe => document.querySelector("#demo_put").innerHTML = error)
	/*	
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){ // 서버가 등록처리 후 결과 데이터를 보내주면 responseText로 받는다.
			document.getElementById("demo_put").innerHTML = this.responseText;
		}
		xhttp.open("PUT", "/memoapp/memo");
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(memo);
	*/	
	}
	
	function deleteMemo(){
		const mno = document.querySelector("input[name='mno3']");
		
		fetch("memoapp/memo/" + mno.value, {
			method: "DELETE"
		})
		.then(response => response.text())
		.then(data => document.querySelector("#demo_delete").innerHTML = data)
		.catch(error => document.querySelector("#demo_delete").innerHTML = error)
		/*
		const xhttp = new XMLHttpRequest();
		xhttp.onload = function(){
			document.getElementById("demo_delete").innerHTML = this.responseText;
		}
		xhttp.open("DELETE", "/memoapp/memo/" + mno.value);
		xhttp.send();
		*/
	}
</script>
</body>
</html>