<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header>
	<div id="top">
		<div id="left">
			<a href="index">
				<img src="" alt="로고" id="logo">
			</a>
			<div class="search">
				<form action="searchResult" method="post" id="searchResult">
					<input type="search" placeholder="검색" name="search" id="searchBox">
					<input type="submit" value="검색" id="searchBtn">
				</form>
			</div>
		</div>
		<div id="right">
			<a href="login">로그인</a>
			<a href="regForm">회원가입</a>
		</div>
	</div>
</header>
</body>
</html>