<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:include="header :: header"></div>
<h1>ProductDetail Page</h1>
<hr>
<form action="/member/regOrderForm" method="post">
	<table border="1" th:each="product : ${product}">
		<tr>
			<th>상품이름</th>
			<td th:text="${product.pname}"></td>
			<td><input type="hidden" th:value="${product.pname}" name="pname"></td>
			<input type="hidden" th:value="${product.pno}" name="pno">
		</tr>
		<tr>
			<th>상품가격</th>
			<td th:text="${product.price}"></td>
			<td><input type="hidden" th:value="${product.price}" name="price"></td>
		</tr>
		<tr>
			<th>상품설명</th>
			<td th:text="${product.pintro}"></td>
			<td><input type="hidden" th:value="${product.pintro}" name="pintro"></td>
		</tr>
		<tr>
			<th>상품(판매)상태</th>
			<td th:text="${product.pstate}"></td>
			<td><input type="hidden" th:value="${product.pstate}" name="pstate"></td>
		</tr>
		<tr>
			<th>등록날짜</th>
			<td th:text="${product.pregDate}"></td>
			<td><input type="hidden" th:value="${product.pregDate}" name="pregDate"></td>
		</tr>
		<tr>
			<th>상품재고량(개)</th>
			<td th:text="${product.pstock - amount}"></td>
			<td><input type="hidden" th:value="${product.pstock}" name="pstock"></td>
		</tr>
		<tr>
			<th>제조사</th>
			<td th:text="${product.manufacturingCompany}"></td>
			<td><input type="hidden" th:value="${product.manufacturingCompany}" name="manufacturingCompany"></td>
		</tr>
		<tr>
			<th>상품타입</th>
			<td th:text="${product.ptype}"></td>
			<td><input type="hidden" th:value="${product.ptype}" name="ptype"></td>
		</tr>
	</table>
	<input type="number" name="amount">
	<input th:if="${session.user_name} != null" type="submit" value="주문하기">
</form>
</body>
</html>